# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
coverage/

# OS specific
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Temporary
*.tmp
*.swp

# Uploaded KYC files
uploads/kyc/
